# Logs
logs
/.log*
*.log
npm-debug.log*

# Dependencies
node_modules

# Coverage
coverage

# Transpiled files
dist
tmp

# Act (run GitHub Actions locally)
*.event

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/task.json
!.vscode/launch.json
!.vscode/extensions.json

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
local-*
*.bak
*.orig
*~
