# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage/

# Main codebase
.github/
lib/
build/
tests/
.editorconfig
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc
jest.config.js
tsconfig.*

# Transpiled files
dist/bundles/
tmp/

# Act (run GitHub Actions locally)
*.event

# IDEs
.idea/
.vscode/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
local-*
*.bak
*.orig
*code-workspace
*~
