# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage/

# Main codebase
.github/
.husky/
rites/*/*
packages/
.commitlintrc.ts
.editorconfig
.eslintignore
.eslintrc.js
.lintstagedrc.yaml
.nvmrc
.prettierignore
.prettierrc
CODE_OF_CONDUCT.md
global.d.ts
jest.config.js
tsconfig.*

# But keep the dist folder for the rites/roman1969 package
!rites/roman1969/
!rites/roman1969/dist

# Transpiled files
rites/roman1969/dist/bundles/
tmp/


# Act (run GitHub Actions locally)
*.event

# IDEs
.idea/
.vscode/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
local-*
*.bak
*.orig
*code-workspace
*~
