name: Dev branch publishing

on:
  push:
    branches:
      - dev

jobs:
  commitlint:
    runs-on: ubuntu-latest

    if: github.repository == 'romcal/romcal' && !contains(github.event.head_commit.message, '[skip ci]')

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Install Dependencies
        run: npm -q --no-progress ci --no-audit

      - name: Validate with commitlint
        if: github.event_name == 'push'
        run: npx commitlint --last --verbose

  dev_branch_publishing:
    runs-on: ubuntu-latest

    environment: npm-publish

    if: github.repository == 'romcal/romcal' && !startsWith(github.event.head_commit.message, 'ci:')
    needs: commitlint
    env:
      CI: true
      GITHUB_USER: github-actions
      GITHUB_EMAIL: github-actions@github.com

    steps:
      - name: Git checkout dev branch
        uses: actions/checkout@v4
        with:
          ref: dev
          token: ${{ secrets.REPO_TOKEN }}

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Automated version bump
        uses: phips28/gh-action-bump-version@master
        with:
          major-wording: 'MajorBump'
          minor-wording: 'MinorBump'
          patch-wording: 'PatchBump'
          rc-wording: ''
          default: prerelease
          preid: dev
          skip-commit: 'true'
          skip-tag: 'true'

      - name: Read package.json
        uses: beaconbrigade/package-json-version@v0.3.2
        id: package

      - name: Display bumped version
        run: 'echo "New romcal version: ${{ steps.package.outputs.version }}"'

      - name: Check bumped version format
        run: |
          if [[ ! ${{ steps.package.outputs.version }} =~ ^[0-9]+\.[0-9]+\.[0-9]+-dev\.[0-9]+$ ]]; then
            echo "Incorrect version format, breaking script."
            exit 1
          fi

      - name: Install npm dependencies
        # using -q to silent info outputs
        run: npm -q --no-progress ci --no-audit

      - name: Update browsers list (caniuse)
        run: npx browserslist@latest --update-db

      - name: Run Prettier fix
        run: npx prettier -w --config .prettierrc ./lib

      - name: Build romcal project (romcal + all calendar bundles)
        run: npm run build

      - name: Run tests
        run: npm run test:without-coverage

      - name: Commit and tag the updated version
        run: |
          git config user.name ${{ env.GITHUB_USER }}
          git config user.email ${{ env.GITHUB_EMAIL }}
          git add .
          git commit -m "ci: bump version to ${{ steps.package.outputs.version }} [skip ci]"
          git push
          git tag v${{ steps.package.outputs.version }}
          git push --tags

      - name: Npm publish a new 'dev' version (romcal + all calendar bundles)
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: node -r ts-node/register scripts/publish.ts
