name: Romcal CI

on:
  push:
    branches: [dev, master]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CI: true

    steps:
      - name: Git checkout dev branch
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm ci --no-audit

      - run: npm run build

      - run: npm run test:without-coverage

      - run: npm run locale:checks
